.contact{
    display: grid;
    justify-items: center;
    max-width: 600px;
    margin: 72px auto; 

    &__title{
        margin-bottom: 8px;
        font-size: 24px;
    }

    &__text{
        margin-top: 32px; 
        text-align: center;
        line-height: 2;
        font-size: 16px;
    }

    &__btn{
        display:flex;
        align-content: center;
        background-color: $formColor;
        font-size: 16px;
        padding: 16px;
        height: 48px;
        margin-top:48px;    
    }

    &__link{
        text-decoration: none;
        color: $neutroColor;
    }
    
    &__icon{

       margin-right: 8px;

       &--profile{
           margin:16px;
           color: $white;
           height: 2em;
           width: 2em; 
       }
    }
}

.contact-profile-box{
    display:flex;
}

@media (max-width: 675px) {

    .contact{
        margin: 112px 24px 16px 24px; 

        &__title{
            font-size: 16px;
        }
    
        &__text{
            
            font-size: 8px;
        }
    }
}

@media (max-width: 1200px) {
    
    .contact{

       
            &__title{
                font-size: 30px;
            }
        
            &__text{
                font-size: 24px;
            }
    }
}