.intro{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1080px;
    margin: 0 auto; 
    width:100%;

    &-left{
        margin: 24px;
        align-self: center;
    }

    &__description{
        line-height: 2;  
    }

    &__right{
        display: flex;
        flex-direction: column;
        padding-top: 64px;
        width: 100%;
        height: 520px;
        overflow: hidden;
    }

    &__img{
        object-fit: cover;
        width:100%;
    }

}

.author{
    text-decoration: none;
    color:$white;
    font-size: 8px;
    margin: 24px;
}

@media (max-width: 675px) {

    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 500px;
        margin-top: 48px;
    
        &-left{
           padding: 16px;
        }

        &__title{
            font-size: 24px;
        }

        &__description{
            font-size: 16px; 
        }

        &__right{
            padding: 32px;  
            height: 350px;
            overflow: hidden;
        }

        &__img{
            object-fit: cover;
            width:100%;
        }

    }

}

@media (max-width: 768px) {

    .intro{
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin-top: 48px;
    
        &-left{
           padding: 16px;
        }

        &__img{
            object-fit: cover;
            width:105%;
        }

    }

}


@media (max-width: 1200px){
    .intro{
        height: 90vh;

        &__right{
            align-self: center;
        }
    }
   
}